<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController as appCtrl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My WD platform Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css/main")
    @Scripts.Render("~/js/vendor")
    @Scripts.Render("~/js/app")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{appCtrl.status}}</a>
            </div>
                
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
                <div ng-show="appCtrl.isStart">
                    <div ng-repeat="(name, score) in appCtrl.players" class="list-group">
                        <a ng-if="name == appCtrl.userName" href="#" class="list-group-item active" style="margin-bottom:0px;">
                            {{name}}<span class="badge">{{score}}</span>
                        </a>
                        <a ng-if="name != appCtrl.userName" href="#" class="list-group-item" style="margin-bottom:0px;">{{name}}<span class="badge">{{score}}</span></a>
                    </div>
                </div>
            </div>           
        </div>
    </nav>
    <div class="collapse" id="collapseExample">
        <div class="well">
            ...
        </div>
    </div>
    <div class="container">@RenderBody()</div>

</body>
</html>
